body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1, h2 {
    text-align: center; /* Centraliza o texto dos títulos */
    margin: 20px 0; /* Espaçamento acima e abaixo dos títulos */
}

.container {
    max-width: 1400px; /* Define uma largura máxima para o contêiner principal */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding: 0 20px; /* Adiciona um pouco de padding lateral */
}

.object-container {
    display: grid; /* Usa o Grid Layout para organizar os itens */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta o número de colunas baseado no tamanho do item e do contêiner */
    gap: 10px; /* Espaço entre os itens */
    margin-bottom: 20px; /* Espaçamento inferior para separar do texto da descrição */
}

.object-details {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box; /* Inclui o padding e a borda na largura total da caixa */
    width: 100%; /* Faz com que a largura da caixa seja igual à largura da coluna */
    min-height: 250px; /* Define uma altura mínima para as caixas */
}

.object-details-grid {
    display: grid; /* Usa o Grid Layout para organizar os itens */
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); /* Ajusta o número de colunas baseado no tamanho do item e do contêiner */
    gap: 10px; /* Espaço entre os itens */
    margin-bottom: 20px; /* Espaçamento inferior para separar do texto da descrição */
}

.object-details-grid p {
    margin: 0; /* Remove margens adicionais dos parágrafos */
}

.description {
    text-align: justify; /* Justifica o texto da descrição */
}
